*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img{
    width: 100%
}
a{
  text-decoration: none;
  color: rgb(51, 73, 44);
    &&:hover{
        font-weight: bolder;
    }
}
h1{
    text-align: center;
}
/*-------------Flash-message-----------------*/
.error_message{
    color: white;
    font-size: 40px;
    background-color: #3a5231;
    text-align: center;
}
.success_message{
    color: white;
    font-size: 40px;
    background-color: green;
    text-align: center;
}
/*-------------HEADER-----------------*/


header {
    background-image: url("../../public/img/plante.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: start;
    gap: 30%;
    padding: 20px;
    align-items: center;

    .logo {
        width: 8%;
    }

    .newpaper {
        width: 100%;
    }

    nav_header li {
        padding: 20px;
    }

    .nav_header ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        padding: 30px;
    }
    .nav_header a{
        color: #cccccc;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 8px;
        padding: 10px;
    }

}
/*----------------form_add_user---------------*/
.addUserForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: auto;
    background-color: #77966b;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    input{
        all: unset;
        background-color: #bdd3b2;
        margin: 10px;
        text-align: center;
    }

}

/*----------------TABLE---------------*/

table{
    margin: 50px;
}
td{
    width: 12%;
    border: #555555 solid 1px;
    border-radius: 3px;
}
/*----------------ERROR-MESSAGE---------------*/
.error_message{
    background-color: green;
    color: white;
    font-size: 30px;
}
/*----------------FOOTER---------------*/

a{
    list-style: none;
}
li{
    list-style: none;
}

/*----------------LES ARTICLES------------*/
.articles{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}
.myArticle {
    background-color: white;
    border: 2px solid #5b5454;
    width: 27%;
    box-shadow: 4px 4px 7px grey;
    padding: 25px;
    text-align: center;
    transition: all 1s ease;


    &&:hover {
        background-color: #3b3838;
        transform: scale(1.1);
    }
}
.pic{
    width: 20%;
    margin: auto;
}
/*---------------alert-delete--JS----------*/
.jsDelete{
    display: none;
    position: absolute;
    background-color: white;
    border: #69855f solid 2px;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px
}
.jsDeleteButton{
    color: rgb(51, 73, 44);
    &&:hover{
        font-weight: bolder;
    }
}
/*----------------SHOW-ARTICLE------------*/
.oneArticle{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;

}
/*----------------LIST-CATEGORY------------*/
.listCategories{
    display: flex;
    justify-content: center;
}
.eachCategory{
    border: #555555 1px solid;
    width: 20%;
    padding: 30px;
    margin: 40px;
    text-align: center;
}
/*----------------404------------*/
.error{
    width: 60%;
    margin: 40px;
    margin: auto;
}
/*----------------FOOTER------------*/
footer {
    text-align: center;
    background-color: #939a91;
    padding: 25px;

    ul{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}